<launch>
<!-- Right now the # of maps are entered semi-manually by entering # of followers. Will fix later if time willing -->
<arg name='followers' default="2"/>


<!-- Swarmboss maps -->

<!-- start swarmboss map on launch of last follower -->
<!-- interestingly eval can't figure out less than signs... xml bug? -->
<include file="$(find swarmbots)/launch/multi_turtlebot3_slam.launch" if="$(eval 1 >= arg('followers'))">
    <arg name="ns" value="/swarmboss"/>
</include>

<!-- Follower maps -->

<include file="$(find swarmbots)/launch/multi_turtlebot3_slam.launch" if="$(eval arg('followers') > 0)">
    <arg name="ns" value="/robot$(arg followers)"/>
</include>
<!-- Recursively launch this file again for the rest of the bots? -->
<include file="$(find swarmbots)/launch/gmapping.launch" if="$(eval arg('followers') > 1)">
    <arg name="followers" value="$(eval arg('followers') - 1)"/>
</include>

</launch>