<launch>
  <param name="/use_sim_time" value="true" />
  <!-- need to declare model up here before passing into the include file! -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi, burger_for_autorace]"/>
  <arg name="world" default="empty"/>

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" respawn="false" output="screen" 
    args="-world_name $(find swarmbots)/worlds/$(arg world).world"/>

  <!-- include our robots -->
  <include file="$(find swarmbots)/launch/robots.launch">
  <!-- pass model of robot into robots.launch file getting $(arg model) from command line, which launches the urdf -->
  <arg name="model" value="$(arg model)"/>
  </include>
</launch>