<launch>
  <arg name="robot_name" />
  <arg name="followers" />
  
  <!-- for map_merge init poses -->
  <param name="map_merge/init_pose_x" value="0.0" />
  <param name="map_merge/init_pose_y" value="0.0" />
  <param name="map_merge/init_pose_z" value="0.0" />
  <param name="map_merge/init_pose_yaw" value="0.0" />
  
  


  <!-- for each robot: spawn in gazebo, start robot_state_publisher, and broadcaster -->
  <node pkg="swarmbots" type="spawn_model.py" name="spawn_urdf" args="-urdf -model $(arg robot_name) -x 0.0 -y 0.0 -z 0.0 -Y 0.0 -param /robot_description">
    <param name="x_pos" command="$(find swarmbots)/src/generate_random_x.py" />
    <param name="y_pos" command="$(find swarmbots)/src/generate_random_y.py" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
  <node pkg="swarmbots" type="tf_broadcaster.py" name="tf_broadcaster" respawn="true" output="screen" />
  <node pkg="swarmbots" type="tf_listener.py" name="tf_listener" respawn="true" output="screen" />
  <node pkg="swarmbots" type="robot_state.py" name="robot_state" respawn="true" output="screen" />



</launch>