<launch>
<!-- Right now the # of maps are entered semi-manually by entering # of followers. Will fix later if time willing -->
<arg name='followers' default="2"/>

<!-- map saver for swarmboss -->
<group ns="swarmboss">
    <node name="map_saver" pkg="map_server" type="map_saver"
    args="-f $(find swarmbots)/map/swarmboss"
    if="$(eval 1 >= arg('followers'))">
        <param name="map" value="/swarmboss/dynamic_map"/>
    </node>
</group>

<!-- map saver for current follower -->
<group ns="robot$(arg followers)">
    <node name="map_saver" pkg="map_server" type="map_saver" 
    args="-f $(find swarmbots)/maps/robot$(arg followers)"
    if="$(eval arg('followers') > 0)" output="screen">
        <param name="map" value="/robot$(arg followers)/dynamic_map"/>
    </node>
</group>



<!-- recursion for followers -->
<include file="$(find swarmbots)/launch/savemap.launch" if="$(eval arg('followers') > 1)">
    <arg name="followers" value="$(eval arg('followers') - 1)"/>
</include>

</launch>