<launch>
<arg name='robots' default="2"/>

<!-- map saver for map merge -->
<node name="map_saver" pkg="map_server" type="map_saver"
    args="-f $(find swarmbots)/maps/merged_map"  if="$(eval arg('robots') == 1)" >
</node>

<!-- map saver for current follower -->
<arg name="newrobots" value="$(eval arg('robots') - 1)"/>
<group ns="robot$(arg newrobots)">
    <node name="map_saver" pkg="map_server" type="map_saver" 
    args="-f $(find swarmbots)/maps/robot$(arg newrobots)"
    if="$(eval arg('newrobots') >= 0)" output="screen">
        <param name="map" value="/robot$(arg newrobots)/dynamic_map"/>
    </node>
</group>

<!-- recursion for followers -->
<include file="$(find swarmbots)/launch/savemap.launch" if="$(eval arg('robots') > 0)">
    <arg name="robots" value="$(eval arg('robots') - 1)"/>
</include>

</launch> 