<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <arg name="model"/>
  <param name="model" value="$(arg model)"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />


  <!-- BEGIN Swarm Boss -->
  <group ns="swarmboss">
    <param name="tf_prefix" value="swarmboss_tf" />
    <include file="$(find swarmbots)/launch/one_robot.launch" >
      <arg name="robot_name" value="swarmboss" />
      <arg name="x_pos" value="0.0" />
      <arg name="y_pos" value="1.0" />
      <arg name="z_pos" value="0.0" />
    </include>
  </group>
</launch>