<launch>
  <!-- BEGIN swarmboss -->
  <group ns="swarmboss">
    <param name="tf_prefix" value="swarmboss" />
    <include file="$(find swarmbots)/launch/one_robot.launch" >
      <arg name="state" value="lead" />
      <arg name="robot_name" value="swarmboss" />
      <arg name="x_pos" value="0.0" />
      <arg name="y_pos" value="-1.0" />
      <arg name="z_pos" value="0.0" />
    </include>
  </group>
</launch>